<ng-template #modalForUpdateTodoItem let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Update This ToDo Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" #txtUpdateContent value="{{valueInDataSet}}" attr.data-index="{{indexInDataSet}}" /> 
    <button (click)="updateTodo(txtUpdateContent)">Update This Entry</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<p>
  <ngb-alert [dismissible]="false">
    <strong>Hi There!</strong> To Update ToDo List Items, You Can Click On Item!
  </ngb-alert>
</p>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of todos | async; let i=index">
    <div class="w-75 float-left" (click)="openUpdateTodoModal(modalForUpdateTodoItem, item.indexOfItem, item.content)">{{ item.content }}</div>
    <div class="w-25 float-left">
      <button (click)="removeTodo(item.indexOfItem)" class="float-right btn btn-danger">Remove Todo</button>
    </div>
  </li>
</ul>
<br/>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <input type="text" #f />
    <button (click)="addTodo(f)">Add Todo</button>
  </div>
  <div class="col-lg-4"></div>
</div>
